.idea
*.sw*
.DS_Store
bin/*
.vscode
*.kubeconfig
*.config
_output
vendor
public.zip
docs/public
docs/node_modules
docs/public.zip
cluster.yaml
eksa-test*
generated/
eks-anywhere-downloads*
hardware-manifests/
*.env
support-bundle*
/.ignore

# added by lint-install
out/
coverage.out
coverage.html
hardware.csv
hardware-ingest